html, body, img, div, a {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font: inherit;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

.gutter-images {
	height: 64px;
	width: 90%;
	display: block;
	float: left;
	position: relative;
	left: 5%;
}

.group {
	content: "";
	display: block;
	clear: both;
}

.gutter-images > img {
	width: 20%;
	height: 100%;
	float: left;
}

.gutter {
	position: relative;
}

.thumbnails {
	margin: auto;
	width: 400px;
}

.active > img {
	width: 100%;
}

a.nav {
	text-align: center;
	position: absolute;
	display: block;
	float: left;
	width: 5%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

a.right {
	left: 95%;
}