body, ul, li, div, a, p {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	background: transparent;
}

.group {
	content: "";
	display: block;
	clear: both;
}

ul {
	list-style: none;
	width: 100%;
	float: left;
}

li {
	float: left;
	margin: 10px;
}

a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
}

a.active {
	font-weight: bold;
}

div.tab-pane {
	display: none;
}

div.tab-pane.active {
	display: block;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
}

div.tab-pane.transitioning {
	display: block;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}
