body, div, img, a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	background: transparent;
}

div.carousel {
	margin: auto;
	height: 320px;
	width: 400px;
	text-align: center;
}

div.items {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

div.items > img {
	height: 100%;
	width: 100%;
}

div.items > img {
	display: none;
}

div.items > img.active {
	display: block;
	position: absolute;
	left: 0%;
	transition-property: left;
	transition-duration: .5s;
}

div.items > img.left {
	position: absolute;
	left: 100%;
}

div.items > img.right {
	position: absolute;
	left: -100%;
}
